<a href="https://colab.research.google.com/github/TarunaSahu/hello_world/blob/main/SVRwithgrid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data=pandas.read_csv("longley.csv")

In [ ]:
data.head()

   GNP.deflator      GNP  Unemployed  Armed.Forces  Population  Year  Employed
0          83.0  234.289       235.6         159.0     107.608  1947    60.323
1          88.5  259.426       232.5         145.6     108.632  1948    61.122
2          88.2  258.054       368.2         161.6     109.773  1949    60.171
3          89.5  284.599       335.1         165.0     110.929  1950    61.187
4          96.2  328.975       209.9         309.9     112.075  1951    63.221

In [ ]:
X=data.drop(columns=["Employed"])
Y=data["Employed"]

In [ ]:
kernelvalues=['linear','rbf']
cvalues=[1,2]
grid=dict(C=cvalues,kernel=kernelvalues)

In [ ]:
from sklearn.svm import SVR

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
model=SVR()
gridmodel=GridSearchCV(estimator=model,param_grid=grid)

In [ ]:
results=gridmodel.fit(X,Y)

In [ ]:
results.cv_results_

{'mean_fit_time': array([0.11064415, 0.00267425, 0.113199  , 0.00242949]),
 'mean_score_time': array([0.00282302, 0.00200777, 0.00245395, 0.00187864]),
 'mean_test_score': array([ -2.53865522, -69.51288865,  -5.94578081, -66.90730978]),
 'param_C': masked_array(data=[1, 1, 2, 2],
              mask=[False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf'],
              mask=[False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'rbf'},
  {'C': 2, 'kernel': 'linear'},
  {'C': 2, 'kernel': 'rbf'}],
 'rank_test_score': array([1, 4, 2, 3], dtype=int32),
 'split0_test_score': array([  -2.88637792, -194.91391449,   -1.12361364, -189.04460314]),
 'split1_test_score': array([  0.71739258, -10.17911502,   0.89038577,  -8.89707781]),
 'split2_test_score': array([ 0.85485239, -0.22789018,  0.7782303 , -0.1801488 ]),
 'split3_test_score': array([  0.84753094, -17.9808631 ,   0.47375499, -17.1755048 ]),
 'split4_test_score': array([ -12.22667411, -124.26266048,  -30.74766145, -119.23921432]),
 'std_fit_time': array([3.66373050e-02, 1.12056895e-04, 2.54118152e-02, 9.68504280e-05]),
 'std_score_time': array([6.68170524e-05, 6.45866030e-05, 1.36132006e-04, 4.12469930e-05]),
 'std_test_score': array([ 5.05099236, 77.07063275, 12.4220974 , 74.76242387])}